@model Promocodoz.Web.ViewModel.ConsoleViewModel
@{
    ViewBag.Title = "Console";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <h4>API Credentials</h4>
    <dl class="dl-horizontal">
        <dt>Account SID:</dt>
        <dd>@Model.Sid</dd>
        <dt>Secret Key:</dt>
        <dd>@Model.Secret</dd>
    </dl>
</div>
<div>
    <hr />
    <h4>Promo Codes</h4>
    <div>
        @using (Html.BeginForm("Index", "Console", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <label class="col-md-2 control-label">Count of codes:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CodesCount, new {@class = "form-control", type = "number", min = 1, max = 100, step = 1 })
                    @Html.ValidationMessageFor(m => m.CodesCount, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Value:</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Value, new { @class = "form-control", type = "number", step = 1 })
                    @Html.ValidationMessageFor(m => m.Value, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Platform:</label>
                <div class="col-md-10">
                    <select class="form-control" name="platform">
                        <option value="">All</option>
                        @foreach (var platform in Model.Platforms)
                        {
                            <option value="@platform">@platform.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Comment:</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" id="btn-loading" data-loading-text="Generating..." value="Generate" />
                </div>
            </div>
        }

        <table class="table-bootstrap"
               data-search="true"
               data-url="@Url.Action("Codes", "Console")"
               data-row-style="codesRowStyle">
            <thead>
                <tr>
                    <th data-field="Code">Code</th>
                    <th data-field="Value" data-sortable="true">Value</th>
                    <th data-field="Platform" data-sortable="true">Platform</th>
                    <th data-field="IsActivated" data-sortable="true">Is Activated</th>
                    <th data-field="ActivationDate" data-sortable="true">Activation Date</th>
                    <th data-field="Comment">Comment</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function codesRowStyle(row, index) {
            if (row.ActivationDate != null) {
                return {
                    classes: 'success'
                };
            } else {
                return "";
            }
        }
    </script>
}
